<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OagFocusAssist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OagFocusAssist.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OagFocusAssist.Properties.Settings>
            <setting name="DemoMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExposureTime" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </OagFocusAssist.Properties.Settings>
        <OagFocusAssist.Properties.Settings1>
            <setting name="ExposureTime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Gain" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Binning" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StarThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsvExportPath" serializeAs="String">
                <value />
            </setting>
        </OagFocusAssist.Properties.Settings1>
    </userSettings>
</configuration>